.site-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(#000, 0.9);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    z-index: 9999;
    @include transition;

    .site-popup-inner {
        max-width: 1100px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 100px 0;
        transition: all 0.2s ease-in-out;
        position: relative;

        @include breakpoint(largedesktop) {
            max-width: 1000px;
            padding: 60px 0;
        }

        @include breakpoint(desktop) {
            max-width: 900px;
        }

        .popup-close {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0%, -50%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                position: relative;

                span {
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    background: #fff;
                    transform-origin: center;
                    transition: all 0.2s ease-in-out;

                    &:first-child {
                        transform: translate(0%, -50%);
                    }

                    &:last-child {
                        transform: translate(0%, -50%);
                    }
                }
            }
        }

        .swiper-popup {
            width: 100%;
            padding-bottom: 60px;

            .swiper-wrapper {
                z-index: 2;
            }

            h4 {
                font-weight: 500;
                margin-bottom: 30px;
                transform: translateY(150px) rotate(7deg);
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }

            .video-wrapper {
                position: relative;
                z-index: 2;
                transform: scale(0.8);
                transition: all 0.2s ease-in-out;

                figure {
                    margin: 0;

                    img,
                    video {
                        width: 100%;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                bottom: 0;
                top: auto;
                transform: translate(0px, -70px);
                color: #fff;
                font-size: rem(22px);
                font-weight: 500;
                margin: 0;
                width: auto;
                line-height: 1;
                height: auto;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;

                @include breakpoint(largedesktop) {
                    font-size: rem(20px);
                }

                @include breakpoint(desktop) {
                    font-size: rem(18px);
                }

                i {
                    font-size: rem(30px);

                    @include breakpoint(largedesktop) {
                        font-size: rem(28px);
                    }

                    @include breakpoint(desktop) {
                        font-size: rem(25px);
                    }
                }

                &.left {
                    left: 0;

                    i {
                        margin-right: 10px;
                    }
                }

                &.right {
                    right: 0;

                    i {
                        margin-left: 10px;
                    }
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    &.popup-is-visible {
        opacity: 1;
        visibility: visible;
        user-select: auto;
        pointer-events: auto;

        .popup-close {
            right: -140px;
            opacity: 1;
            visibility: visible;
            transition-delay: 0.7s;

            @include breakpoint(largedesktop) {
                right: -100px;
            }

            a {
                span {
                    &:first-child {
                        animation: rotate1 0.5s forwards 1s;
                    }

                    &:last-child {
                        animation: rotate2 0.5s forwards 1s;
                    }
                }
            }

            @keyframes rotate1 {
                from {
                    transform: translate(0%, -50%) rotate(0);
                }

                to {
                    transform: translate(0%, -50%) rotate(45deg);
                }
            }

            @keyframes rotate2 {
                from {
                    transform: translate(0%, -50%) rotate(0);
                }

                to {
                    transform: translate(0%, -50%) rotate(-45deg);
                }
            }
        }

        .site-popup-inner {
            .swiper-popup {
                h4 {
                    transform: translateY(0px) rotate(0deg);
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.7s;
                }

                .video-wrapper {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.4s;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    transform: translate(0%, 0%);
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.7s;
                }
            }
        }
    }

    &.popup-is-closing {
        opacity: 0;
        visibility: hidden;
        user-select: none;
        pointer-events: none;
        transition-delay: 0.6s;

        .popup-close {
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition-delay: 0.2s;

            a {
                span {
                    &:first-child {
                        animation: none;
                    }

                    &:last-child {
                        animation: none;
                    }
                }
            }
        }

        .site-popup-inner {
            .swiper-popup {
                h4 {
                    transform: translateY(150px) rotate(7deg);
                    opacity: 0;
                    visibility: hidden;
                    transition-delay: 0.2s;
                }

                .video-wrapper {
                    transform: scale(0.8);
                    opacity: 0;
                    visibility: hidden;
                    transition-delay: 0.5s;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    transform: translate(0px, -70px);
                    opacity: 0;
                    visibility: hidden;
                    transition-delay: 0.2s;
                }
            }
        }
    }
}